body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #8a8585;
    color: white;
    padding: 10px 20px;
    width: 96%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.serch_field{
    width: 250px;
    z-index: 2;
}
.serch_field input{
    padding: 10px 12px;
    border-radius: 5%;
    border: none;
}

.navbar .hamburger {
    font-size: 24px;
    cursor: pointer;
    z-index: 99;
}

.navbar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
    display: none;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: rgb(113, 113, 141);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
    display: block;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
  
}

main {
    margin-left: 200px;
    padding: 20px;
}

@media (max-width: 768px) {
    .navbar .hamburger {
        display: block;
    }

    .navbar .nav-links {
        display: none;
    }

    .sidebar {
        position: absolute;
        width: 200px;
        height: 100vh;
        background-color: #333;
        color: white;
        position: absolute;
        left: -200px;
        top: 0;
        padding-top: 60px;
        transition: left 0.3s;
       
    } 

    main {
        margin-left: 0;
        padding: 20px;
    }
}

.sidebar.show {
    left: 0;
}
